# Dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native builds
ios/build/
ios/Pods/
android/build/
android/.gradle/
android/app/build/

# EAS
.eas/

# Environment
.env
.env.*.local

# Logs
*.log
npm-debug.*
yarn-debug.*
yarn-error.*

# Testing
coverage/

# macOS
.DS_Store

# Editor
.vscode/
.idea/

# TypeScript
*.tsbuildinfo
